{{partial 'head'}}
{{#if showLogin}}
{{/if}}
<br>
<br>
<div class="container-fluid" style="">
   <br>
   <div class="container">
      <br>
      <b style="margin-left:12cm;"><em>USER DETAILS</em></b>
      <br>
      <div class="well">
         <div class="row" style="">
            <div class="col-md-2"><i style="margin-left:-10%">RequestId:</i><i id="req">{{lastdetails.requestid}}</i></div>
            <div class="col-md-3">
               <div class="vl5">
                  <div style="padding: 0.3em;"><i style="">First Name:</i>{{lastdetails.fname}}
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="vl5">
                  <div style="padding: 0.3em;"><i style="">Practice Type:</i>{{lastdetails.propertyType}}</div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="vl5">
                  <div style="padding: 0.3em;"><i style="">Provider Type:</i>{{lastdetails.occupation}}</div>
               </div>
            </div>
         </div>
      </div>
      <br>
      <br>
      <style>
         table, th, {
         border-width: thin;
         }
      </style>
      {{!-- ro1 --}}
      <div class="row">
         <div class="col-md-6" style="background-color:grey;">Personal Information</div>
         <div class="col-md-6" style="background-color:grey;">Practice Information</div>
      </div>
      {{!-- ro1 --}}
      <br>
      {{!-- r2 --}}
      <div class="row">
         <div class="col-md-6">
            {{!-- {{#each record.Record.transactionlist as |item1|}} --}}
            <table>
               <tr>
                  <td>First Name</td>:
                  <td style="color:gray;">{{lastdetails.fname}}</td>
               </tr>
               <tr>
                  <td>Last Name</td>:
                  <td style="color:gray;">{{lastdetails.lname}}</td>
               </tr>
               <tr>
                  <td>Mobile Number</td>:
                  <td style="color:gray;">{{lastdetails.phone}}</td>
               </tr>
               <tr>
                  <td>Country</td>:
                  <td style="color:gray;">{{lastdetails.country}}</td>
               </tr>
            </table>
            {{!-- {{/each}} --}}
         </div>
         <div class="col-md-6">
            {{!-- {{#each record.Record.transactionlist as |item1|}} --}}
            <table>
               <tr>
                  <td>ProviderType</td>:
                  <td style="color:gray;">{{lastdetails.occupation}}</td>
               </tr>
               <tr>
                  <td>State License Number</td>:
                  <td style="color:gray;">{{lastdetails.empname}}</td>
               </tr>
               <tr>
                  <td>Practice Address</td>:
                  <td style="color:gray;">{{lastdetails.amount}}</td>
               </tr>


            </table>
            {{!-- {{/each}} --}}
         </div>
      </div>
      {{!-- r2 --}}
      {{!-- r3 --}}
      {{!-- <div style=" margin-top:1cm;"> --}}
         <button type="button" class="btn btn-primary btn-block" disabled={{isDetailsDisableButton}}
            {{action "credit" record lastdetails}}>Approval Level 1</button>
         <div style="background-color:lightgrey;">
            <h3>Data Published Date & Time</h3>
            {{#if isCreditRequested}}
            <div class="row">
               <div class="col-md-1"></div>
               <b> Requested For Score </b>
            </div>
            <div class="row">
               <div class="col-md-6">
                  Date:{{date}}
               </div>
               <div class="col-md-6">
                  Time:{{time}}
               </div>
               <br>
               <br>
            </div>
            {{/if}}
         </div>
         {{#if showDialog}}
         {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin
         clickOutsideToClose=true}}
         {{#paper-toolbar}}
         {{#paper-toolbar-tools}}
         Your Request Has Been Successfully Sent To APP Level 1 Approval
         {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon
         icon="close"}}{{/paper-button}}
         {{/paper-toolbar-tools}}
         {{/paper-toolbar}}
         {{#paper-dialog-actions class="layout-row"}}
         {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
         {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
         {{/paper-dialog-actions}}
         {{/paper-dialog}}
         {{/if}}
         <br>
         <br>
         {{!--
      </div> --}}
   </div>
</div>